.header {
  background: linear-gradient(to right, #7fa1ce, #4983db); 
  padding: 15px 25px; 
  font-size: 20px;
  display: flex; 
  margin-bottom: 10px;
  border-radius: 5px;
  color: white; 
  font-weight: bold;
}

