.inputContainer {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center; 
  gap: 10px; 
  padding: 5px 10px;
}

.inputContainer .input {
  height: 40px; 
  padding: 10px 10px; 
  font-size: 16px; 
  border: 1.5px solid #ccc;
  border-radius: 8px; 
}

label {
  font-size: 16px; 
  font-weight: bold; 
  max-width: 30px;
  padding-right: 5px;

}

.removeButton {
  background: none;
  border: none;
  color: rgb(166, 155, 221);
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.removeButton:hover {
  color: rgb(135, 12, 12); 
}
