:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --button-bg: #333333;
  --button-bg-hover: #1249d3;
  --button-text: #f5f5f5;
}
